
Analysis/Original Data/2000/intscho.txt
Analysis/Original Data/2000/intstud_math_v3.txt
Analysis/Original Data/2000/intstud_read_v3.txt
Analysis/Original Data/2000/intstud_scie_v3.txt
Analysis/Original Data/2000/PISA2000_Codebook_school_questionnaire.pdf
Analysis/Original Data/2000/PISA2000_Codebook_student_questionnaire.pdf
Analysis/Original Data/2000/PISA2000_SAS_school_questionnaire.sas
Analysis/Original Data/2000/PISA2000_SAS_student_mathematics.sas
Analysis/Original Data/2000/PISA2000_SAS_student_reading.sas
Analysis/Original Data/2000/PISA2000_SAS_student_science.sas
Analysis/Original Data/2000/PISAMANUAL1020517.pdf
Analysis/Original Data/2003/INT_schi_2003.txt
Analysis/Original Data/2003/INT_stui_2003_v2.txt
Analysis/Original Data/2003/PISA2003_SAS_cognitive_item.sas
Analysis/Original Data/2003/PISA2003_SAS_student.sas
Analysis/Original Data/2003/ScQ_CodeBook_2003.pdf
Analysis/Original Data/2003/StQ_CodeBook_2003.pdf
Analysis/Original Data/2006/Codebook_Sch06_Dec07.pdf
Analysis/Original Data/2006/Codebook_Stu06_Dec07.pdf
Analysis/Original Data/2006/INT_Sch06_Dec07.txt
Analysis/Original Data/2006/INT_Stu06_Dec07.txt
Analysis/Original Data/2006/PISA2006_SAS_school.sas
Analysis/Original Data/2006/PISA2006_SAS_student.sas
Analysis/Original Data/2009/Codebook_SCQ09_DEC11.pdf
Analysis/Original Data/2009/Codebook_STQ09_DEC11.pdf
Analysis/Original Data/2009/INT_SCQ09_Dec11.txt
Analysis/Original Data/2009/INT_STQ09_DEC11.txt
Analysis/Original Data/2009/PISA2009_SAS_school.sas
Analysis/Original Data/2009/PISA2009_SAS_student.sas
Analysis/Original Data/2012/INT_SCQ12_DEC03.txt
Analysis/Original Data/2012/INT_STU12_DEC03.txt
Analysis/Original Data/2012/PISA12_sch_codebook.pdf
Analysis/Original Data/2012/PISA12_stu_codebook.pdf
Analysis/Original Data/2012/PISA2012_SAS_school.sas
Analysis/Original Data/2012/PISA2012_SAS_student.sas
Analysis/Original Data/2015/Codebook_CMB.xlsx
Analysis/Original Data/2015/cy6_ms_cmb_sch_qqq.sas7bdat
Analysis/Original Data/2015/CY6_MS_CMB_SCH_QQQ.sas7bdat.format.sas
Analysis/Original Data/2015/cy6_ms_cmb_stu_qq2.sas7bdat
Analysis/Original Data/2015/CY6_MS_CMB_STU_QQ2.sas7bdat.format.sas
Analysis/Original Data/2015/cy6_ms_cmb_stu_qqq.sas7bdat
Analysis/Original Data/2015/CY6_MS_CMB_STU_QQQ.sas7bdat.format.sas
Analysis/Original Data/2015/cy6_ms_cmb_tch_qqq.sas7bdat
Analysis/Original Data/2015/CY6_MS_CMB_TCH_QQQ.sas7bdat.format.sas
Analysis/Original Data/2015/Questionnaires_National_Versions.zip
Analysis/Original Data/2015/To Read.txt
Analysis/Original Data/2018/PISA2018_CODEBOOK.xlsx
Analysis/Original Data/2018/SCH/cy07_msu_sch_qqq.sas7bdat
Analysis/Original Data/2018/SCH/CY07MSU_FMT_SCH_QQQ.CPT
Analysis/Original Data/2018/SCH/CY07MSU_FMT_SCH_QQQ.SAS7BCAT
Analysis/Original Data/2018/SCH/CY07MSU_SCH_QQQ.FORMAT.SAS
Analysis/Original Data/2018/SCH/Read Me.txt
Analysis/Original Data/2018/STU/cy07_msu_stu_qqq.sas7bdat
Analysis/Original Data/2018/STU/CY07MSU_FMT_STU_QQQ.CPT
Analysis/Original Data/2018/STU/CY07MSU_FMT_STU_QQQ.SAS7BCAT
Analysis/Original Data/2018/STU/CY07MSU_STU_QQQ.FORMAT.SAS
Analysis/Original Data/2018/STU/Read Me.txt
Analysis/Original Data/2018/TCH/cy07_msu_tch_qqq.sas7bdat
Analysis/Original Data/2018/TCH/CY07MSU_FMT_TCH_QQQ.CPT
Analysis/Original Data/2018/TCH/CY07MSU_FMT_TCH_QQQ.SAS7BCAT
Analysis/Original Data/2018/TCH/CY07MSU_TCH_QQQ.FORMAT.SAS
Analysis/Original Data/2018/TCH/Read Me.txt
Analysis/Original Data/PISA_AllData.rar
